
.black {
    background-color: black;
    color: white;
    position: relative;
    margin-left: -17px;
    margin-right: -17px;
    height: 200px;
    width: 35%;
    z-index: 2;
}

.white {
    background-color: white;
    border: 1px solid black;
    width: 90%;
    height: 300px;
    text-align: center;
    z-index: 1;
}