* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.keyboard {
    display: flex;
    flex-direction: row;
    height: 100%;
    max-width: 850px;
    margin: auto;
    margin-bottom: 1%;
}


